.filter-list {
    margin: 10px;
    padding: 10px;
    width: 1000px;
    background-color: rgb(17, 9, 39);
    border-radius: 10px;
  }
  
  .show-button-posittion {
    margin-top: 20px;
    display: flex;
    align-content: flex-start;
  }

  .filter-list:not(.user-list-visible) .table-alighment {
    height: auto;
    overflow-y: visible;
  }

  .user-list-visible .table-alighment {
    height: 400px;
    overflow-y: scroll;
  }

  .change-status {
    display: flex;
    align-items:baseline;
    margin-top: 10px;
    top: 0;
    z-index: 0;
    position: sticky; 
  }
    
  .enable,
  .disable,
  .save,
  .remove {
    position: sticky;
    top: 0;
    cursor: pointer;
    color: white;
    margin-left: 25px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  .enable{
    background-color: green;
  }

  .disable{
    background-color:orange;
  }

  .remove{
    background-color:red;
  }

  .save{
    background-color: blueviolet;
  }

  .enable:hover,
  .disable:hover,
  .remove:hover,
  .save:hover{
    z-index: 2;
    transform: scale(1.1);
  }

  
  .show-data {
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .table-alighment{
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 400px;
    margin-bottom: 20px;

  }

  table {
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  tbody{
    margin-top: 20px;
  }
  tr {
    text-align: left;
    padding: 10px;
    display: table-row;
  }

  .row-data{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
  }

  .row-data.selected-row {
    background-color: #cccc;
  }

  .row-data:hover{
    background-color: #cccc;
  }
  
  .data-row:hover {
    background-color: #cccc;
  }
  
  th {
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: none;
    top: 0;
    padding: 5px;
    background-color: rgb(92, 198, 240);
    position: sticky;
  }
  
  td {
    border: 1px solid black;
    padding: 5px;
  }

  .toast-success {
    background-color: green;
    color: white;
  }
  
  .toast-info {
    background-color: orange;
    color: white;
  }
  
  .toast-error {
    background-color: red;
    color: white;
  }

  .toast-save {
    background-color:#218838;
    color:white;
  }

  .toast-enable-non, .toast-disable-non, .toast-remove-non{
    background-color: rgb(165, 165, 92);
    color:#212529;
  }

  .toast-save-non{
    background-color: purple;
    color: white;
  }
  