.test-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-List-test-page{
    display: flex;
    justify-content: center;
}

.filter-button{
    font-size:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    cursor: pointer;
    color:white;
    background-color: rgb(53, 53, 65);
    padding: 10px;
    border-radius: 10px;
    z-index: 0;
}

.filter-button:hover{
    z-index: 1;
    transform: scale(1.1);
}
